/* below is css for teachers*/
.margin-top{
 margin-top:19px;
}
.fontsize12 input{
 font-size: 12px;
}
/* here you can put your own css to customize and override the theme */
.notice-padding{
	padding:0px 0px 0px 25px !important;
}
.bootstrap-timepicker-widget
    {
        z-index: 9999999;
    }
    .fc-time{
    	display: none !important;
    }
   /*below css has been written for removing the unwanted horizontal scroll in the fancybox*/
    .fancybox-inner {
    overflow-x: hidden !important;
    border: solid 1px #EBEBEB;
}
/*below css has been written for aligning the text of the tables to the left*/
	.table td{
		text-align: left;
	}
/*below css is for hiding the date that gets displayed just below title in the calendars*/
.fc-left{
	display:none;
}
/*below css is for the layout of the view page of notices controller*/
.alignRight{
	text-align : right;
}
.alignLeft{
	text-align : left;
}
.alignCenter{
	text-align : center;
}
.alignJustify{
	text-align : justify;
}
/*start css for attendance*/
.student_absent{
 color:#B22222 !important;
}
.student_present{
 color: #90EE90 !important ;
}
.student_holiday{
color: #87CEFA !important;

}
.student_holiday_weekend{

background-color:#7892C2 !important;
color: #87CEFA !important;

}
/*end css for attendance*/ 
/*css for text alignments in the table*/
.table .alignRight{
	text-align : right;
}
.table .alignLeft{
	text-align : left;
}
.table .alignCenter{
	text-align : center;
}
.table .alignJustify{
	text-align : justify;
}
.ui-autocomplete {
					 	z-index: 10000000;
					}
/* start Reports table */
tr.grade_wise_summary > th{
    text-align:center;
    border-bottom:1px solid #ddd !important ;
    border-left:1px solid #ddd !important;
} 

tr.attendance_summary > th{
    text-align:center;
    border-bottom:1px solid #ddd !important ;
    border-left:1px solid #ddd !important;
}
tr.attendance_summary td:nth-child(2){
    text-align:left;
    
} 
tr.attendance_summary > td{
    text-align:center;
    
} 
tr.district_wise_report > th,td{
    text-align:center;
}
tr.student_summary >th{
    text-align:center;
    border-bottom:1px solid #ddd !important ;
    
}
tr.student_summary >td{
   text-align:center
}
tr.telephone_record >th{
  text-align:center;
}
tr.telephone_record td:nth-child(4){
  text-align:left;
}
tr.caste_wise >th{
    text-align:center;
    border-bottom:1px solid #ddd !important ;
    
}
tr.bus_stop_report >th{
text-align:center;
}
tr.bus_stop_report >td{
 text-align: center;
}
tr.bus_stop_report td:nth-child(2){
text-align:left !important;
}
/*start student type */
tr.student_type_record >th{
text-align:left;
}
tr.student_type_record td.number{
text-align:center;
}
tr.student_type_record td.text{
text-align:left;
}
.student_type_record{
text-align:center;
}
/*end student type*/
/*start hostel*/
tr .hostel_report >th{
text-align:left
}
tr.hostel_report td.number{
text-align:center
}
tr.hostel_report td.text{
text-align:left
}
/*end hostel*/
/*end of Reports table */
/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/



/*added by manish january 22 2015*/


/*.page-header.navbar{
	display:none;
}
*/
.page-header-fixed .page-container{
	margin-top:0px;
}

.school-banner{
	height:92px;
	background:url("../img/school-banner.jpg");
}

.page-content-wrapper .page-content{
	padding-top:0px;
}
 
.caption-title{
	color:#7892C2;
	font-weight:normal;
	xmargin-bottom:20px;
	margin-top:23px;
	font-size:19px;
	/*font-weight:400px;*/
	line-height:25.3px;
	padding : 0px;

	margin-left : -3px;

	/*margin-left : -6px;*/
	font-family:"Open Sans",​sans-serif;

} 

.page-bar{
	margin-bottom:0px !important;
}


.page-header.navbar .menu-toggler{
	background-image:url("../img/sidebar_inline_toggler_icon_grey.jpg") !important;
}

.portlet > .portlet-title > .actions{
	float:right !important;
}

#title-actions{
	text-align:right;
}

.portlet > .portlet-body.grey-cascade, .portlet.grey-cascade{
	background:none;
}

.dropdown.dropdown-user a{
	color:#333 !important;
	font-size: 12px;
}

/*
.btn.new{
	border:1px solid #8ED058;-webkit-box-shadow: #474747 0px 0px 5px ;-moz-box-shadow: #474747 0px 0px 5px ;  -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 7px 10px 7px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(255,255,255,0.4);font-weight:bold; color: #4D7D32;
 background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
 background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
 background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
 background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
 background-image: -o-linear-gradient(top, #a9db80, #96c56f);
 background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
 margin-top:15px;
}

.btn.new:hover{
 border:1px solid #8ED058;
 background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
 background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
 background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
}
*/


/******button style******/

.btn.new {
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:5px 7px;
	margin-top:15px;
	margin-bottom:15px;

}
.btn.new:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.btn.new:active {
	position:relative;
	top:1px;
}




/****** end of button style******/



.portlet.box.grey-cascade{
	border:none;
}

/*.table.table-striped.table-bordered.table-hover{
	background:#f5f5f6 !important;
}
*/
.btn.new.right{
	float:right;
}

/*
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar{
	background:none repeat scroll 0 0 #303641 !important;
	color:#aaabae !important;
}
*/

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a{
	background:none repeat scroll 0 0 #d0d2dc !important;
}



.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar {
    background: none repeat scroll 0 0 #f4f4f4;
    box-shadow: -3px 0 5px 1px rgba(0, 0, 0, 0.07) inset !important;
    
}


.btn.new.search {
    margin-right: 0;
}

.table-bordered {
    border: 1px solid #ebebeb;
}

.table.table-striped.table-bordered.table-hover > thead{
	background:#f5f5f6;
}

.table.table-striped.table-bordered.table-hover{
	background:#fff;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{
	background:#fff;
}

body{
	font-family:arial !important;
	font-size:12px !important;
}

.table thead tr th{
	font-size:13px;
	font-weight:bold;
}

.help-block{
	display:none;
}


.btn.default.btn-xs.blue{
	background:#eeeeee!important;
	color:#5b9bd1!important;
	border:solid 1px #ccc !important;
}

.btn.default.btn-xs.blue:hover{
	background:#e5e5e5 !important;
	
}


.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a{
	border-top:1px solid #dbdbdb !important;
	color:#555 !important;
}


.page-toolbar.pull-left{
	margin-top:5px;
}

.sec-actions-btn {
    background: -moz-linear-gradient(center top , #f9f9f9 40%, #eeeeee 100%) repeat scroll 0 0 #eeeeee;
    border: 1px solid #bdbdbd;
    /*box-shadow: 0 0 0 4px #f6f6f6;*/
    color: #999; 
    padding: 7px 12px 5px;
    text-shadow: 0 1px 0 #ffffff;
	font-weight:bold;
	margin-right : 18px;
}
.sec-actions-btn:hover {
    background-image: -moz-linear-gradient(center top , #eeeeee 40%, #f9f9f9 100%);
}

.childsubParentTR .childSubjects {
    padding-left: 40px;
}

.form-group>label{
	color:#333 !important;
}

.portlet-body.border {
    border: 1px solid #cccccc;
    border-radius: 5px !important;
}

/*#StudentIndexForm{
	border:solid 1px #ccc;
}
*/
.caption-title.sec {
    margin-left: 10px;
    margin-top: 0;
	margin-bottom:0px;
}

.page-header.navbar.navbar-fixed-top{

background:none repeat scroll 0 0 #303641 !important;

}


@media screen and (max-width: 980px) {
    .page-header.navbar.navbar-fixed-top{

		
	}

}


@media screen and (min-width: 980px) {
    .page-header.navbar.navbar-fixed-top{

	display:none !important;
	}

}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a{
	background:none repeat scroll 0 0 #f9f9f9 !important;
}

.fa-home:before{
	color:#7d7d7d;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control, .page-sidebar .sidebar-search .input-group .form-control{
	background-color:#fff !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group, .page-sidebar .sidebar-search .input-group{
	border-bottom:none !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler, .page-sidebar .sidebar-toggler {
    background: url("../img/sidebar_inline_toggler_icon_light.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.form-control{
	border: solid 1px #ccc !important;
}

.portlet-body.form.box{
	border:solid 1px #ccc;
}

.sec-title {
    font-size: 13px;
    padding-bottom: 8px;
	color:#818da1;
	
}

.caption-title.personal-info {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
	margin-bottom:0px !important;
}

#student-info-edit{
	margin-top:10px !important;
}

.nomargin{
	margin-bottom:0px !important;
	margin-top:0px !important;
}

.edit-pen{
	margin-left:5px;
}

.portlet-body.academic-info-section {
    margin-top: -18px;
}

.btn.new.pull-right.nomargin.add{
	margin:-5% 0 0 !important;
}

/*added by bimesh 17th march 2015*/


tr.bus_stop_report >th{
text-align:center;
}
tr.bus_stop_report >td{
 text-align: center;
}
tr.bus_stop_report td:nth-child(2){
text-align:left !important;
}
tr.class_wise_bus >th{
text-align:center;
}
tr.class_wise_bus td:nth-child(2){
text-align:center
}
tr.class_wise_bus td:nth-child(3){
text-align:center
}
[2:03:33 PM] bimesh Uprety: tr.class_wise_walk >th{
text-align:center;
}
tr.class_wise_walk td:nth-child(2){
 text-align:center;
}
tr.class_wise_walk td:nth-child(3){
 text-align:center;
}

/* added by Rashik Maharjan 3/23/2015 */
.view_events
{
	margin-top:10px;
}
.calendar_notices
{
	margin-top : 5px;
}
.icon-magnifier
{
	margin-left : -16px;
	z-index: 1000;
	}
.calendar_notices .portlet-body
{
	height : 455px;	
}
.control-label
{
	  padding: 7px 0 0 0px !important;
}
.table-responsive th 
{
	text-align : center;
}


.select_grade_sections{
	max-width: 66px;
}
.button_submit
{
	background:#7892C2 !important;
}

.teachers .caption-title{
	margin-left : -16px;
}

.teachers .btn.new
{
	margin-right:-13px;
}

.resources .add_resources
{
	background-color : #7892C2;
	margin-top: 15px;
  	margin-right: -78px;
}

.sections .addNewSection
{
	  background: #7892C2;
  	  margin-right: -76px;
  	    margin-top: 13px;
}

.sections .addNewSection:hover
{
	  background: #7892C2;
}

.academicYears .newAcademicYear,.addNewSubject
{
	 background: #7892C2 !important;
  	 margin-right: -76px !important;
  	 margin-top: 13px !important;
}
.academicYears .newAcademicYear:hover,.addNewSubject:hover
{
	  background: #7892C2;
}

.navy_blue_button_for_all
{
	 background: #7892C2 !important;
  	 margin-right: -76px !important;
  	 margin-top: 13px !important;
}


/*end of added by bimesh*/

/*for grade page*/

.actions-title {
    text-align: right;
}

/* end of for grade page*/



/*added my manish for fancy box styling 4th june 2015*/

.fancybox-outer{
	background:#fff;
}

.popup-box {
    background: #f5f5f6 none repeat scroll 0 0;
    border-bottom: 1px solid #ebebeb;
    font-family: arial;
    padding: 8px;
}


.popup-title {
    color: #333;
    font-family: arial;
    font-size: 13px;
	font-weight:bold;
}



.popup-body {
    border-bottom: 1px solid #ebebeb;
	font-size:12px !important;
}

.dis-name{
	color:#5b9bd1 !Important;
	font-weight:bold !important;
}

.col-md-3.control-label{
	font-size:12px !important;
}

.action-mainbtn{
	 background: #b8e356 linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%) repeat scroll 0 0;
    border: 1px solid #83c41a;
    border-radius: 6px;
    box-shadow: 0 1px 0 0 #d9fbbe inset;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 17px;
    text-decoration: none;
    text-shadow: 0 1px 0 #86ae47;
}
.action-mainbtn1{
	 background: #b8e356 linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%) repeat scroll 0 0;
    border: 1px solid #83c41a;
    border-radius: 6px;
    box-shadow: 0 1px 0 0 #d9fbbe inset;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #86ae47;
}
.action-mainbtn1:hover{
	background-color: #449d44;
    border-color: #398439;
    color: #ffffff;
}
.action-mainbtn:hover{
	background-color: #449d44;
    border-color: #398439;
    color: #ffffff;
}

.leftmargin{
	margin-left:61%;
}
.fullmarks_custom{
	font-size: 14px;
	position: absolute;
	left: 78px;
}
.passmarks_custom{
	font-size: 14px;
	position: absolute;
	left: 84px;
}
.child-sub, .obtainedmark, .gracemark{ /* this css has been written for the aligning the text of the input fields in the marks entry page*/
	text-align: right;
}
.stdCapacity, .subjectSeq{ /*this css has been written for decreasing the input width of the student capacity input in the grade_sections add page and subject sequence number in the grade_subjects add page*/
	width:25%;
}
